<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Instruments</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/styles.css"/>
  </head>
  <body>
    <%- body %>
  </body>
</html>